* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:font_strong;
    src:url('../fonts/Lato-Bold.ttf') format('truetype');
    src:url('../fonts/Lato-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family:font_strong2;
    src:url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face{
    font-family:font_strong3;
    src:url('../fonts/Lato-Light.ttf') format('truetype');
}
body{
    font-size: 14px;
    font-family: font_strong;
}
.header-top{
    background-color: #0063b7;
}
.header-top .container .row .col-md-6.col-sm-5.col-xs-12 p{
    float: left;
    margin-top: 8px;
    margin-bottom: 12px;
}
.header-top .container .row .col-md-6.col-sm-5.col-xs-12 p span a{
    text-decoration: none;
    color: #ffffff;
}
.header-top .container .row .col-md-6.col-sm-7.col-xs-12 div {
    float: right;
    margin-top: 7px;
    margin-bottom: 12px;
}
.head-down{
    background-color: #0072d3;
}
.navbar{padding: 1.5rem 0rem;}

.head-down .container .navbar.navbar-expand-sm .navbar-brand{
    font-family: font_strong;
    font-weight: bold;
    color: #fff !important;
    font-size: 30px;
}
.head-down .container .navbar.navbar-expand-sm ul {
}
.head-down .container .navbar.navbar-expand-sm ul li {
    float: left;
    text-align: -webkit-match-parent;
    padding-left: 50px;
}


.head-down .container .navbar.navbar-expand-sm ul li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: font_strong2;
}
#addmenu input{
    padding-left: 0px;
}
.head-down .container .navbar.navbar-expand-sm ul li a span {
}
.head-down .container .navbar.navbar-expand-sm ul li :hover{
    border-radius: 5px;
    background-color: #ffb400 !important;

   
}

.carousel-inner img{
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.gim_slide.hidden-xs{
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);
    z-index: 99;
}
.gim_slide.hidden-xs img{
    vertical-align: middle;
    max-width: 100%;
}
.title-sec .h2-title-sec span{
    font-size: 14px;
    color: #464646;
    text-transform: uppercase;
    position: relative;
    padding-left: 50px;
    font-family:font_strong;
}
.title-sec .h2-title-sec span:before{
    position: absolute;
    content: '';
    width: 39px;
    height: 3px;
    background: #0072d3;
    left: 0px;
    bottom: 5px;
}
.wp-text-gt h3 p{
    font-weight: bold;
    font-family: font_strong2;

}
.wp-text-gt h3 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;
    margin-bottom:-10px; 
}
#p-staff{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-top{
padding-bottom: 4%;
}
#sec_1 img{
    display: block;
    width: 100%;
    max-width: 100%;
}
#sec_2 img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 414px;
}
#sec_1{
    width: 50%;
    float: left;
    margin-bottom: 50px;
}
#sec_2{
    width: 50%;
    float: left;
    margin-bottom: 50px;
}
.main p{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600
}
.card-img-top{
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    height:250px;
    width: 100%;
    
}

.card-body .card-title{
    color: #464646;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-family: Lato-Bold;
}
.card-body .text{
    text-decoration: none;
    color: #464646;
    font-weight: 600;
    font-size: 20px;

}
.card-body .text:hover{
    color:#ffcc00;
}
.card-body p{
    font-weight: 200;
    font-size: 14px;
}
.card-body a{
    color: #464646;
    
} 
.card-body a:hover{
    color:#ffcc00;
}
.news_lastest{
    font-weight: bold;
    font-family:font_strong2;
    margin: 0 0 10px;
    font-size: 24px;
   color:  #464646;
}
.main-two{
padding-bottom: 4%;
}
.form_contact_hone input{
    width: 100% !important;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}
.main-top .row.main-container .wp-text-gt h3{
    font-weight: bold;
    font-family: font_strong2;
    font-size: 24px;
    color:#464646;
}
.main-top .row.main-container .wp-text-gt h3{
    
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 20px;
}
.footer{
    background-color: #1b1919;
    color: #c8c8c8;
    padding-top: 4%;
}
.footer .title-ft .h2-title-ft {
    font-size: 19px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.1;
    font-family: font_strong2;
    padding-bottom: 6%;;
}
.footer p span {
    font-family: font_strong2;
    color: #fff;
}
.footer p{
    position: relative;
    color: #c8c8c8;
}
.footer ul{
    list-style: none;
    padding: 0px;
    margin: 0pxq
}
.footer ul li{
    list-style: none;
    padding: 2px 0;
}
.footer ul li a{
    color: #c8c8c8;
    padding-left: 5px;
    text-decoration: none;
}

.fr-nhantin input {
    width: 100%;
    height: 35px;
    padding-left: 11px;
    background-color: #1b1919;
    border: none;
    font-style: italic;
    border: 0px;
    border-bottom: 1px solid;
}
.fr-nhantin button {
    position: absolute;
    top: 0px;
    right: 17px;
    border: none;
    background: none;
    color: #c21318;
    height: 225px;
    font-size: 20px;
    line-height: 35px;
}
.footer-bottom {
    padding: 20px 0px;
    background-color: #1b1919;
    color: #eaafb2;
    border-top: 1px solid #dddddd;
    text-align: center;
    color: #fffefe;
    font-family: font_strong;
}
.wp-titlecontact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
    color: #ffb400; 
    float: left;
}
.wp-titlecontact h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center
}
.wp-titlecontact ul li {
    float: left;
    list-style: none;
}
.wp-titlecontact ul li a{
    text-decoration: none;
    color: #fff;
}
.img-contact img{
    width: 100%;
}
.wp-boxcontact h2 {
    color: #000;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-bottom: 30px;
    margin-top: 60px;
    font-weight: bold;
}
.wp-boxcontact h2:after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 39px;
    height: 3px;
    background: #0072d3;
    transform: translate(-50%,0);
    content: '';
}
ul {
    list-style: none;
}
.wp-boxcontact .ul-ct li:nth-of-type(1) {
    background: url(../img/ct1.png) left top no-repeat;
}
.wp-boxcontact .ul-ct li:nth-of-type(2) {
    background: url(../img/ct2.png) left top no-repeat;
}
.wp-boxcontact .ul-ct li:nth-of-type(3) {
    background: url(../img/ct3.png) left top no-repeat;
}
.wp-boxcontact ul li{
    list-style: none;
    padding-bottom: 10px;
    padding-left: 40px;
}
.wp-boxcontact .col-form-label {
    position: relative;
}
.wp-boxcontact .col-form-label:before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
    color: #000;
    font-size: 4px;
    padding-right: 0.5em;
    position: absolute;
    top: 17px;
    left: 0;
}